
@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/PKMN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "MyCustomFont", Helvetica, sans-serif;
  background-color: #f9f9f9;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add a class to apply the spin animation */
.spin {
  animation: spin 1.5s linear infinite;
}

button {
    font-family: "MyCustomFont", Helvetica, sans-serif;
}

input {
    font-family: "MyCustomFont", Helvetica, sans-serif;
}
